html{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans", sans-serif;
	font-size: 18px;

}

body {
    margin: 0;
	font-size: 16px;
	
	font-size: 18px;


	
}
header li{
	color: #6b7280;
	font-weight: bold;
}

h3 {
	color: #000000;
  }





header {
	background-color: white;
	font-size: 18px;

}
.learn-about h2{
	font-size: 24px;
	color: #48BB78;
}



.card{
	border-style: groove;
	border: 2px solid;
	border-radius: 50px;
	padding: 10px;
	border-radius: 25px;
	margin: 25px;
	box-shadow: 1px 2.5px #b6b6b6;
}

nav a:hover{
	color: #5A67D8;

}



.learn-about .card{
	border-color: #E2E8F0;
	border-radius: 5px;	
}


.learn-about img{
	width:150px;
	height:150px;
}

.learn-about h3{
	color: #48BB78;
	font-size: 21px;
}

section{
	padding:25px;
}
.testing{
	background-color: #4A5568;
	color: white;
	padding:25px;
	
}
.testing a{
	color:white;
	padding:15px;
	width:150px;
	background-color: #48BB78;
	text-decoration: none;	
}

img{

	width: 150px;
	height: 250px;
}


.stories h2{
	color:#5A67D8;
	float:right;
	margin:35px;
	align-content: center;
}



.stories a{
	color: #5A67D8;
	text-align: center;
    padding:1%;
	text-decoration:none;
}
.stories title{
	font-size: 18px;
}
.stories img{
	border-radius: 50%;
	width:150px;
	height:150px;
	align-content: center;
}
.newsletter {
	background-color: #48BB78;
	color: white;
	align-content: center;
	padding: 45px 0 45px 0;
}
.newsletter .container{
	align-items: center;
	width:390px;
}
.newsletter .btn{
	background-color: #5A67D8;
	color:white;
	align-content: center;
	text-align:center;
	
}
form{
	display: grid;
	grid: "item2 item3";
}
form input{
	grid-area:item2;
	margin:15px;
	width:220px;
	height:35px;
}
form Button{
	grid-area:item3;
	margin: 15px;
	padding:15px;
	width:200px;
	height:50px;
}
footer{
	background-color: #4A5568;
	color: white;
}
.container {
    margin: 0 auto;
    max-width: 960px;
	width: 100%;
	display:flex;
	flex-direction: column;
}


.learn-about .cards{
	display:grid;
	grid: "item1 item2 item3";
	padding:2em;
	grid-template-columns: auto;


}
.overview-hero{
	background-color: #E2E8F0;
}
.overview-hero .container{
	display: grid;
	grid:"item4 item5";
	align-items: center;

}
.overview-hero img{
	grid-area: item4;
	width: 200px;
}

.overview-hero .overview-hero-text{
	grid-area: item5;
	width:500px;	
}

.testing .container{
	display:grid;
	grid:"item5 item6";
	align-items: center;
}
.testing .btn{
	grid-area: item6;
	float:right;
	margin: 50px;
	text-align:center;
}
.testing .testing-desciption{
	grid-area:item5 ;
	float:left;
}




header .container{
	display: grid;
	grid:"item item2";
	align-items: center;
	}


header h1{
	grid-area: item;
	font-size:18px;
}


header ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	grid-area: item2;
}


header a{
	text-decoration: none;
	color: #6b7280;
 }


header li{
	padding:1em;
}

